* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========== HEADER ==========*/

header {
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    font-family: 'Arial';
    margin-right: 35px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-break: 160%;
}

nav li:last-child {
    margin-right: 0;
}

.nav-link {
    color: #545454;
    padding-bottom: 3px;
}

.nav-link:hover, .active {
    color: #292929;
    border-bottom: 3px solid #f1cdb3;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 10px;
}

.logo p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

/*========== FOOTER CONTENT ==========*/

footer {
    max-width: 100%;
    background: url(../../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    overflow-x: hidden;
    gap: 1px;
}

footer .container .footer-contacts {
    display: flex;
    flex-flow: column wrap;
    margin-top: 56px;
}

footer .container .footer-contacts h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 16px;
}

footer .container .footer-contacts .block-info {
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    height: 23px;
}

footer .container .footer-contacts .block-info:last-child {
    margin-top: 51px;
}

footer .container .footer-contacts .block-info h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    line-height: 23px;
    color: #f1cdb3;
}

footer .container .footer-contacts .block-info a img {
    margin-right: 20px;
    vertical-align: top;
}

footer .container .footer-img {
    margin-top: 40px;
    width: 300px;
    height: 310px;
    overflow-y: hidden;
}