* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*========== HEADER ==========*/

.start-screen {
    max-width: 100%;
    background: radial-gradient(60% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    padding: 60px 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    font-family: 'Arial';
    margin-right: 35px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-break: 160%;
}

nav li:last-child {
    margin-right: 0;
}

.nav-link {
    color: #cdcdcd;
    padding-bottom: 3px;
}

.nav-link:hover, .active {
    color: #ffffff;
    border-bottom: 3px solid #f1cdb3;
}

.logo {
    text-align: center;
}

.logo h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin-bottom: 10px;
    margin-top: 0;
}

.logo p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #cdcdcd;
}

/*========== START SCREEN CONTENT ==========*/

section.start-screen-content {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    align-content: center;
    padding: 0 40px;
}

section.start-screen-content .block-info {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    padding-top: 163px;
}

section.start-screen-content .block-info h2 {
    max-width: 310px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
}

section.start-screen-content .block-info p {
    margin: 42px 0 42px 0;
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
}

.btn-primary {
    padding: 15px 45px;
    width: 208px;
    height: 50px;
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 130%;
    background: #F1CDB3;
    border-radius: 100px;
    color: #292929;
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: #fddcc4;
}

/*========== ABOUT CONTENT ==========*/


section.about .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 80px 40px 100px 40px;
}

section.about .container .block-info {
    display: flex;
    flex-flow: column wrap;
    gap: 25px;
    max-width: 430px;
}

section.about .container .block-info h3 {
    max-width: 370px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

section.about .container .block-info p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;;
}

/*========== PETS CONTENT ==========*/

section.pets {
    background: #f6f6f6;
}

section.pets .container{
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 100px 40px;
}

section.pets .container h2 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
}

section.pets .container .pets-slider {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
section.pets .container .pets-slider .pets-slider-items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 90px;
}
  
section.pets .container .pets-slider .pets-slider-items .pets-slider-item {
    display: flex;
    background: #fafafa;
    border-radius: 9px;
    flex-flow: column wrap;
    align-items: center;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item:hover {
    cursor: pointer;
    background: #5b483a;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item:hover h3 {
    color: #fafafa;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item:hover .btn-learn-more {
    background: #f1cdb3;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item h3 {
    margin-top: 30px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item .pet-img {
      height: 270px;
}

section.pets .container .pets-slider .pets-slider-items .pets-slider-item .btn-learn-more {
    width: 187px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    margin: 30px auto 30px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 48px;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    background: #ffffff;
    transition: all 0.5s ease;
}
  
section.pets .container .pets-slider .pets-slider-items .pets-slider-item .btn-learn-more:hover{
     background: #FDDCC4;
     border: 2px solid #FDDCC4;
}

.btn-pets {
    display: block;
    cursor: pointer;
    width: 261px;
    height: 52px;
    background: #f1cdb3;
    border-radius: 100px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 52px;
    letter-spacing: 0.06em;
    color: #292929;
    text-align: center;
    transition: all 0.3s ease;
}

.btn-pets:hover{
     background: #FDDCC4;
}

.btn-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #fddcc4;
    background: #f6f6f6;
    border-radius: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.btn-arrow:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #f1cdb3;
}

/*========== HELP CONTENT ==========*/

section.help {
    background-color: #fff;
    padding-bottom: 100px;
}

section.help .container h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 80px;
}

section.help .container .help-items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    row-gap: 55px;
    column-gap: 120px;
    padding: 60px 87px 0 87px;
}


section.help .container .help-items .help-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

section.help .container .help-items .help-item .help-img {
    height: 60px;
}

section.help .container .help-items .help-item .item-name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 30px;
}

/*========== DONATION CONTENT ==========*/

section.donation {
    background-color: #f6f6f6;
}

section.donation .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 80px 0 98px 0;
    gap: 30px;
}

section.donation .container .donation-content {
    max-width: 380px;
}

section.donation .container .donation-content .donation-card {
    max-width: 350.5px;
    display: flex;
    justify-content: center;
    background-color: #f1cdb3;
    border-radius: 9px;
    padding: 10px 15px;
}

section.donation .container .donation-content .donation-card a {
    display: flex;
    gap: 15px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

section.donation .container .donation-content p {
    padding-top: 20px;
    color: #b2b2b2;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

section.donation .container .donation-content h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 20px;
}

section.donation .container .donation-content h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 20px;
}

/*========== FOOTER CONTENT ==========*/

footer {
    max-width: 100%;
    background: url(../../assets/images/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 40px 0;
}

footer .container .footer-contacts {
    display: flex;
    flex-flow: column wrap;
}

footer .container .footer-contacts h3 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #ffffff;
    padding-top: 16px;
}

footer .container .footer-contacts .block-info {
    display: flex;
    align-items: center;
    margin-top: 45px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    height: 23px;
}


footer .container .footer-contacts .block-info:last-child {
    margin-top: 51px;
}


footer .container .footer-contacts .block-info h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
    line-height: 23px;
    color: #f1cdb3;
}

footer .container .footer-contacts .block-info a img {
    margin-right: 20px;
    vertical-align: top;
}

footer .container .footer-img {
    width: 300px;
    height: 310px;
    overflow-y: hidden;
}
 
@media (min-width:768px) and (max-width: 1279px) {

    .start-screen {
        background: url('../../assets/images/start-screen-background-768.png');
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: cover;
        padding-top: 30px;
    }

    .wrapper {
        padding: 0 30px;
    }

    section.start-screen-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    section.start-screen-content .block-info {
        padding-top: 60px;
    }

    .btn-primary {
        margin-left: 126px;
    }

    section.start-screen-content img{
        height: 593px;
        margin-left: 139px;
    }

    section.about .container {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        row-gap: 80px;
    }
    
    section.pets .container .pets-slider .pets-slider-items .pets-slider-item:nth-child(3) {
        display: none;
    }

    section.pets .container{
        padding: 80px 0 95px;
    }

    section.pets .container .pets-slider {
        width: auto;
    }

    section.pets .container .pets-slider .pets-slider-items {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        padding: 0 12px;
    }

    section.help .container .help-items {
        column-gap: 60px;
        padding: 60px 0 0;
    }

    section.help .container .help-items .help-item {
        width: 170px;
    }

    section.donation .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column-reverse;
        row-gap: 60px;
    }

    footer {
        background: radial-gradient(70.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) , #211F20;
    }

    footer .container {
        flex-flow: row wrap;
        column-gap: 62px;
        row-gap: 65px;
        padding: 15px 70px 0 62px;
        justify-content: center;
    }

}
